In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.cross_decomposition import PLSRegression
import seaborn as sns
%matplotlib inline

In [3]:
red_wine = pd.read_csv('winequality-red.csv')
white_wine = pd.read_csv('winequality-white.csv')

In [4]:
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
len(red_wine) + len(white_wine)

6497

In [33]:
wine_data = pd.concat([red_wine, white_wine])

In [10]:
len(wine_data)

6497

In [11]:
model = PLSRegression(scale=False)

In [12]:
from sklearn.model_selection import cross_val_score

In [17]:
score = cross_val_score(model, wine_data.iloc[:,:-1], wine_data.iloc[:,-1], scoring='neg_mean_absolute_error')
print(score.mean())

-0.7239365257812072

In [18]:
wine_data.skew()

fixed acidity           1.723290
volatile acidity        1.495097
citric acid             0.471731
residual sugar          1.435404
chlorides               5.399828
free sulfur dioxide     1.220066
total sulfur dioxide   -0.001177
density                 0.503602
pH                      0.386839
sulphates               1.797270
alcohol                 0.565718
quality                 0.189623
dtype: float64

In [19]:
wine_data.min()

fixed acidity           3.80000
volatile acidity        0.08000
citric acid             0.00000
residual sugar          0.60000
chlorides               0.00900
free sulfur dioxide     1.00000
total sulfur dioxide    6.00000
density                 0.98711
pH                      2.72000
sulphates               0.22000
alcohol                 8.00000
quality                 3.00000
dtype: float64

In [34]:
wine_data.max()

fixed acidity            15.90000
volatile acidity          1.58000
citric acid               1.66000
residual sugar           65.80000
chlorides                 0.61100
free sulfur dioxide     289.00000
total sulfur dioxide    440.00000
density                   1.03898
pH                        4.01000
sulphates                 2.00000
alcohol                  14.90000
quality                   9.00000
dtype: float64

In [41]:
log_data = np.log1p(wine_data.iloc[:,:-1])

In [42]:
score = cross_val_score(model, log_data, wine_data.iloc[:,-1], scoring='neg_mean_absolute_error')
print(score.mean())

-0.6696953374204954

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
log_data = pd.DataFrame(StandardScaler().fit_transform(log_data))

In [1]:
log_data.tail()

NameError: name 'log_data' is not defined

In [50]:
outliers =[]

In [64]:
outliers =[]

for i in range(len(log_data)):
    for j in log_data.loc[i]:
        if j >= 3 or j <= -3:
            outliers.append(log_data.loc[i].name)

In [100]:
outlier_list = pd.Series(outliers).value_counts()

In [146]:
outlier = pd.DataFrame()
outlier['index'] = outlier_list.axes
outlier['count'] = outlier_list

In [147]:
outlier

                                               index  count
0  Int64Index([ 151, 4380,  281, 1372, 1193,   94...    NaN

In [119]:
outlier_list.loc[1].index

AttributeError: 'numpy.int64' object has no attribute 'index'